.block {
    border: 1px solid black;
    height: 150px;
    width: 150px;
}
.block__header {
    height: 20%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block__main {
    background-color: yellow;
    height: 60%;
}
.block__footer {
    height: 20%;
    display: flex;
    justify-content: center;
}
.block__footer button {
    width: 100%;
}