.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
.modal.active {
    opacity: 1;
    pointer-events: all;
}
.modal__content {
    padding: 25px;
    border-radius: 12px;
    background-color: white;
    height: 90vh;
    width: 60vw;
    transform: scale(0.5);
    transition: 0.4s all;
    display: flex;
    flex-direction: column;
}
.modal__content.active {
    transform: scale(1)
}
.modal__content button {
    align-self: flex-end;
}
.modal__content__header h3 {
    text-align: center;
    font-size: 18pt;
    font-weight: 700;
}
.modal__content__header div {
    width: 95%;
    border: 1px solid black;
    padding: 5px;
}
.modal__content__body {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
}